@charset "UTF-8";
/********************************************************************************
destyle
********************************************************************************/
/*! destyle.css v4.0.1 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  min-width: 0;
  border-width: 0;
  border-style: solid;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3 */
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  clear: both;
  height: 0; /* 1 */
  margin: 0;
  border-top-width: 1px;
  overflow: visible; /* 2 */
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea { /* 1 */
  appearance: none;
  margin: 0;
  padding: 0;
  border-radius: 0;
  background: transparent;
  color: inherit;
  font: inherit;
  text-align: inherit;
  text-transform: inherit; /* 2 */
  vertical-align: middle;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  min-width: 0;
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  appearance: auto; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-collapse: collapse;
  border-color: inherit; /* 1 */
}

caption {
  text-align: left;
}

td,
th {
  padding: 0;
  vertical-align: top;
}

th {
  font-weight: bold;
  text-align: left;
}

/********************************************************************************
common
********************************************************************************/
body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1rem;
}

h1 {
  color: #f4f4f4;
  font-family: "Oswald", sans-serif;
  font-size: clamp(1.625rem, 3vw, 3rem);
  line-height: 1.5;
  letter-spacing: 0.05em;
  white-space: nowrap;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 0.1em;
}

h3 {
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

h4 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5;
}

img {
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 4%;
}

.section-title {
  padding-top: 50px;
  text-align: center;
}
.section-title__main--en {
  font-size: 3.375rem;
  font-weight: bold;
}
.section-title__sub--ja {
  width: 200px;
  margin: 10px auto 0;
  padding: 4px 0 6px;
  background-color: #001e5b;
  color: #f4f4f4;
  font-size: 0.875rem;
}

.fadein {
  opacity: 0;
}

.open {
  opacity: 0;
  transform: scale(0, 1);
}

/*
ローディング画面
=============================================================================== */
.loading {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: #f4f4f4;
  color: #001e5b;
  text-align: center;
}
.loading__text {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  width: 40%;
  color: #001e5b;
  transform: translate(-50%, -50%);
}

/*
header
=============================================================================== */
.gnav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  width: 400px;
  height: 100vh;
  background-color: #001e5b;
  translate: 100vw;
}
.gnav__list {
  padding-top: 150px;
  text-align: center;
}
.gnav__item {
  padding-top: 45px;
  color: #f4f4f4;
  opacity: 0;
}
.gnav__item:first-child {
  padding-top: 0;
}
.gnav__link {
  position: relative;
  padding: 0 10px;
  font-size: 2.375rem;
}
.gnav__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #f4f4f4;
  opacity: 0;
  transform: scale(0, 1);
  transition: all 200ms ease;
}
.gnav__link:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}

.hamburger {
  position: fixed;
  top: 25px;
  right: 25px;
  z-index: 120;
  width: 80px;
  height: 80px;
  background-color: transparent;
  transition: all 0.5s ease;
  cursor: pointer;
}
.hamburger:hover {
  background-color: #001e5b;
}
.hamburger:hover .hamburger__line {
  background-color: #f4f4f4;
}
.hamburger:hover .hamburger__text {
  color: #f4f4f4;
}
.hamburger__line {
  position: absolute;
  left: 15px;
  width: 50px;
  height: 2px;
  background-color: #001e5b;
  transition: all 0.5s ease;
}
.hamburger__line:nth-of-type(1) {
  top: 23px;
}
.hamburger__line:nth-of-type(2) {
  top: 40px;
}
.hamburger__text {
  position: absolute;
  top: 50px;
  left: 15px;
  color: #001e5b;
  letter-spacing: 0.1em;
  transition: all 0.5s ease;
}

.hamburger.active .hamburger__line {
  left: 15.5px;
  background-color: #f4f4f4;
}
.hamburger.active .hamburger__line:nth-of-type(1) {
  top: 38px;
  transform: rotate(-45deg);
}
.hamburger.active .hamburger__line:nth-of-type(2) {
  top: 38px;
  transform: rotate(45deg);
}
.hamburger.active .hamburger__text {
  opacity: 0;
}

/*
footer
=============================================================================== */
.footer {
  margin-top: 200px;
  background-color: #001e5b;
  text-align: center;
}
.footer__copyright {
  padding: 20px 0;
  color: #f4f4f4;
  font-size: 0.75rem;
  letter-spacing: 0.05rem;
}

/*
レスポンシブ（width:600px）
=============================================================================== */
@media screen and (width <= 600px) {
  h4 {
    font-size: 1.375rem;
    font-weight: bold;
  }
  /* header **********************************************************************/
  .gnav {
    width: 100%;
    translate: 100%;
  }
  .gnav__list {
    padding-top: 120px;
  }
  .gnav__link {
    font-size: 2.25rem;
  }
  .hamburger {
    top: 25px;
    right: 25px;
    width: 60px;
    height: 60px;
  }
  .hamburger__line {
    left: 12px;
    width: 35px;
  }
  .hamburger__line:nth-of-type(1) {
    top: 15px;
  }
  .hamburger__line:nth-of-type(2) {
    top: 27px;
  }
  .hamburger__text {
    top: 34px;
    left: 12px;
    font-size: 0.6875rem;
    letter-spacing: 0.1em;
  }
  .hamburger.active .hamburger__line {
    left: 13px;
    background-color: #f4f4f4;
  }
  .hamburger.active .hamburger__line:nth-of-type(1) {
    top: 29px;
  }
  .hamburger.active .hamburger__line:nth-of-type(2) {
    top: 29px;
  }
}
/********************************************************************************
top-page
********************************************************************************/
/*
main visual
=============================================================================== */
.main-visual {
  position: relative;
  width: 100%;
  height: 100vh;
}
.main-visual canvas {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
.main-visual__title {
  position: absolute;
  top: 50%;
  left: 10%;
  z-index: 10;
  padding: 12px 3% 19px;
  background-color: #001e5b;
  color: #f4f4f4;
  transform: translateY(-50%);
}
.main-visual__mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100vh;
  background-color: #f4f4f4;
  filter: drop-shadow(20px 0 40px rgba(244, 244, 244, 0.8));
}

/*
WORKS
=============================================================================== */
.works {
  margin-top: 150px;
}
.works__column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: -30px;
}

.works-card {
  width: 42%;
  margin-top: 100px;
}
.works-card__image {
  filter: drop-shadow(8px 8px 5px rgba(51, 51, 51, 0.6));
}
.works-card__title {
  margin-top: 20px;
}
.works-card__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
.works-card__item {
  width: max-content;
  margin: 1%;
  padding: 1%;
  border: 1px solid #333;
  color: #333;
  font-size: 0.625rem;
  font-weight: bold;
  text-align: center;
}

/*
SKILL
=============================================================================== */
.skill {
  margin-top: 150px;
}
.skill__column {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}
.skill__group {
  width: 48%;
}

.skill-media {
  display: flex;
  align-items: center;
  min-height: 150px;
  margin-bottom: 40px;
  padding: 10px;
  box-shadow: 5px 5px 8px rgba(51, 51, 51, 0.6);
}
.skill-media__image {
  max-width: 20%;
}
.skill-media__contents {
  max-width: 80%;
  margin-left: 30px;
}
.skill-media__title {
  margin-bottom: 20px;
}

/*
ABOUT
=============================================================================== */
.about {
  margin-top: 150px;
}
.about__column {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}
.about__image {
  width: 30%;
}
.about__image img {
  border-radius: 50%;
}
.about__body {
  width: 60%;
}

.about-body__heading {
  display: inline;
}
.about-body__name--ja {
  margin-top: 10px;
  font-size: 2rem;
}
.about-body__unit {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}
.about-body__title {
  width: 20%;
  margin-top: 50px;
}
.about-body__contents {
  width: 80%;
  margin-top: 50px;
}
.about-body__text {
  padding-top: 25px;
  line-height: 1.75;
  letter-spacing: 0.1em;
}
.about-body__text:first-child {
  padding-top: 0;
}

/*
レスポンシブ（width:600px）
=============================================================================== */
@media screen and (width <= 600px) {
  /* main-visual **********************************************************************/
  .main-visual__title {
    top: 50%;
    left: 50%;
    z-index: 10;
    padding: 12px 3% 19px;
    transform: translate(-50%, -50%);
  }
  .main-visual__mask {
    display: none;
  }
  /* WORKS **********************************************************************/
  .works {
    margin-top: 120px;
  }
  .works__column {
    flex-direction: column;
    margin-top: 50px;
  }
  .works-card {
    width: 90%;
    margin: 50px auto 0;
  }
  .works-card:first-of-type {
    margin-top: 0;
  }
  /* SKILL **********************************************************************/
  .skill {
    margin-top: 120px;
  }
  .skill__column {
    flex-direction: column;
    margin-top: 50px;
  }
  .skill__group {
    width: 100%;
  }
  /* ABOUT **********************************************************************/
  .about {
    margin-top: 120px;
  }
  .about__column {
    flex-direction: column;
    margin-top: 50px;
  }
  .about__image {
    width: 50%;
    margin: 0 auto;
  }
  .about__image img {
    border-radius: 50%;
  }
  .about__body {
    width: 90%;
    margin: 0 auto;
  }
  .about-body__heading {
    display: block;
    margin-top: 20px;
    text-align: center;
  }
  .about-body__name--en {
    display: block;
  }
  .about-body__unit {
    display: block;
    flex-wrap: wrap;
    padding-top: 40px;
    font-family: "Noto Sans JP", sans-serif;
  }
  .about-body__title {
    width: 100%;
    margin-top: 40px;
  }
  .about-body__title:first-child {
    margin-top: 0;
  }
  .about-body__contents {
    width: 100%;
    margin-top: 10px;
    margin-left: 15px;
  }
  .about-body__text {
    padding-top: 25px;
    font-family: "Noto Sans JP", sans-serif;
    line-height: 1.75;
    letter-spacing: 0.1em;
  }
  .about-body__text:first-child {
    padding-top: 0;
  }
  /* CONTACT **********************************************************************/
}
/********************************************************************************
sample
********************************************************************************/
.top {
  margin-top: 130px;
  padding: 2% 0 3.5% 6%;
  background-color: #001e5b;
  color: #f4f4f4;
}

/* パンくずリスト */
.breadcrumb {
  display: flex;
  margin-top: 5px;
}
.breadcrumb__item {
  margin-right: 0.5em;
}
.breadcrumb__link {
  color: #f4f4f4;
  text-decoration: none;
}
.breadcrumb__link:hover {
  text-decoration: underline;
}
.breadcrumb__item:first-child::after {
  content: ">";
  margin-left: 0.5em;
  color: #f4f4f4;
}

/* メインコンテンツ */
.description {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.description__image {
  width: 40%;
  filter: drop-shadow(8px 8px 5px rgba(51, 51, 51, 0.6));
}
.description__caption {
  width: 50%;
}
.description__title {
  font-size: clamp(1.625rem, 3vw, 3rem);
}
.description__list {
  margin-top: 20px;
}
.description__link {
  margin-top: 50px;
}

.button {
  position: relative;
  display: block;
  width: 200px;
  padding: 16px 20px 13px;
  border: 2px solid transparent;
  background-color: #001e5b;
  color: #f4f4f4;
  transition: all 0.2s ease;
}
.button::before {
  content: "";
  position: absolute;
  right: 15px;
  bottom: 20px;
  width: 30px;
  height: 2px;
  background-color: #f4f4f4;
  transform: translateY(50%);
  transition: all 0.2s ease;
}
.button::after {
  content: "";
  position: absolute;
  right: 14px;
  bottom: 22px;
  width: 13px;
  height: 2px;
  background-color: #f4f4f4;
  transform: rotate(30deg);
  transition: all 0.2s ease;
}
.button:hover {
  border-color: currentcolor;
  background-color: #f4f4f4;
  color: #001e5b;
}
.button:hover::before {
  background-color: #001e5b;
}
.button:hover::after {
  background-color: #001e5b;
}

.detail {
  margin-top: 150px;
}
.detail__heading {
  text-align: center;
  word-break: keep-all;
  overflow-wrap: break-word;
}
.detail__contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
}
.detail__title {
  width: 20%;
  margin-top: 60px;
  font-size: 1.125rem;
}
.detail__text {
  width: 80%;
  margin-top: 60px;
}

.point__item {
  margin-top: 20px;
}
.point__item:first-child {
  margin-top: 0;
}

/* ページネーション */
.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 200px;
}
.pagination--first {
  justify-content: end;
}
.pagination--end {
  justify-content: baseline;
}
.pagination__contents {
  position: relative;
  width: 250px;
  padding: 15px 65px 15px 15px;
  border: 2px solid transparent;
  background-color: #f4f4f4;
  color: #001e5b;
  text-align: center;
  transition: all 0.2s ease;
}
.pagination__contents::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  width: 40px;
  height: 50px;
  background-image: url("../img/arrow-right-bl.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transform: translateY(-50%);
  transition: all 0.2s ease;
}
.pagination__contents:hover {
  background-color: #001e5b;
  color: #f4f4f4;
}
.pagination__contents:hover::after {
  background-image: url("../img/arrow-right-wh.png");
}
.pagination__text {
  font-size: 1.125rem;
  font-weight: bold;
}
.pagination__image {
  margin-top: 5px;
  filter: drop-shadow(8px 8px 5px rgba(51, 51, 51, 0.6));
}

.pagination-reverse__contents {
  padding: 15px 15px 15px 65px;
}
.pagination-reverse__contents::after {
  top: 50%;
  right: 190px;
  background-image: url("../img/arrow-left-bl.png");
}
.pagination-reverse__contents:hover::after {
  background-image: url("../img/arrow-left-wh.png");
}

@media screen and (width <= 600px) {
  .top {
    margin-top: 110px;
    padding: 2% 0 3.5% 6%;
  }
  /* メインコンテンツ */
  .description {
    flex-direction: column;
  }
  .description__image {
    width: 100%;
  }
  .description__caption {
    width: 100%;
    margin-top: 20px;
    text-align: center;
  }
  .description__list {
    width: 75%;
    margin: 20px auto 0;
  }
  .button {
    margin-right: auto;
    margin-left: auto;
    text-align: left;
  }
  .detail {
    margin-top: 100px;
  }
  .detail__heading {
    text-align: center;
  }
  .detail__contents {
    flex-direction: column;
    margin-top: 100px;
  }
  .detail__title {
    width: 100%;
    margin-top: 50px;
  }
  .detail__text {
    width: 100%;
    margin-top: 10px;
    padding-left: 15px;
  }
  .point__item {
    margin-top: 20px;
  }
  .point__item:first-child {
    margin-top: 0;
  }
}

/*# sourceMappingURL=style.css.map */
